<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-xl navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Angular Router</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
    </ul>
  </div>
</nav>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <router-outlet></router-outlet>
    <nav>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/players">Players</a>
    </nav>
  <app-messages></app-messages>
</div>