<div *ngIf="player">

  <h2>{{player.name | uppercase}} Details</h2>
  <div>
    <span>ID: </span>{{player.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="player.name" placeholder="name">
    </label>
  </div>
  <div>
    <mat-table [dataSource]="matches">
      <ng-container matColumnDef="opponent">
        <mat-header-cell *matHeaderCellDef> Opponent </mat-header-cell>
        <mat-cell *matCellDef="let match"> {{match.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date</mat-header-cell>
        <mat-cell *matCellDef="let match"> {{match.date}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>
    </mat-table>
  </div>

</div>
